<?xml version="1.0"?>
<launch>
    <node pkg="task2" type="example_voxelgrid_task2" name="example_voxelgrid_task2">
        <remap from="input" to="/camera/depth/points"/>
    </node>
        
    <node pkg="task2" type="cylinder_segmentation_task2" name="cylinder_segmentation_task2">
        <remap from="input" to="/output"/>
    </node>

</launch>
